@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Poppins:300,400,500,600,700|Raleway:300,400,500,600,700");

.ui-autocomplete {
	z-index: 2147483647;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
p,
span,
body {
	font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar-track {
	background-color: #1a1b1d;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: #1a1b1d;
}

::-webkit-scrollbar-thumb {
	background-color: #28b79c;
}

.skin-green .main-header .navbar {
	background: #28b79c;
	background: -webkit-linear-gradient(to right, #28b79c, #28b79c);
	background: linear-gradient(to right, #28b79c, #28b79c);
}

.box.box-success {
	border-top-color: #28b79c;
}

.btn-warning {
    background-color: #f39c12;
    border-color: #f39c12;
}

.btn-primary {
    background-color: #0070a9;
    border-color: #0070a9;
}

.panel.panel-success {
	border-color: #28b79c;
}

.panel-success>.panel-heading {
    color: #28b79c;
    background-color: #28b79c;
    border-color: #28b79c;
}

.btn.btn-success {
	background-color: #28b79c;
	border-color: #28b79c;
}

.loader-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #242f3f;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	border: 4px solid #fff;
	animation: loader 5s infinite ease;
}
.loader-inner {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	background-color: #fff;
	animation: loader-inner 5s infinite ease-in;
}
@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(180deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes loader-inner {
	0% {
		height: 0%;
	}
	25% {
		height: 0%;
	}
	50% {
		height: 100%;
	}
	75% {
		height: 100%;
	}
	100% {
		height: 0%;
	}
}

label {
	font-weight: 500;
}

th {
	height: 26px;
	font-weight: 500;
}

.shadow {
	border-radius: 9px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
}

.box {
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.main-header {
	position: fixed;
	top: 0;
	width: 100%;
	-webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.75);
}

.content-wrapper {
	min-height: 900px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.files input {
	outline: 2px dashed #92b0b3;
	outline-offset: -10px;
	-webkit-transition: outline-offset 0.15s ease-in-out,
		background-color 0.15s linear;
	transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
	padding: 120px 0px 85px 35%;
	text-align: center !important;
	margin: 0;
	width: 100% !important;
}

.files input:focus {
	outline: 2px dashed #92b0b3;
	outline-offset: -10px;
	-webkit-transition: outline-offset 0.15s ease-in-out,
		background-color 0.15s linear;
	transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
	border: 1px solid #92b0b3;
}

.files {
	position: relative;
}

.files:after {
	pointer-events: none;
	position: absolute;
	top: 60px;
	left: 0;
	width: 50px;
	right: 0;
	height: 56px;
	content: "";
	background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
	display: block;
	margin: 0 auto;
	background-size: 100%;
	background-repeat: no-repeat;
}

.color input {
	background-color: #f1f1f1;
}

.files:before {
	position: absolute;
	bottom: 10px;
	left: 0;
	pointer-events: none;
	width: 100%;
	right: 0;
	height: 57px;
	content: " or drag it here. ";
	display: block;
	margin: 0 auto;
	color: #2ea591;
	font-weight: 600;
	text-transform: capitalize;
	text-align: center;
}

.uploader {
	position: relative;
	overflow: hidden;
	width: 300px;
	height: 350px;
	background: #f3f3f3;
	border: 2px dashed #e8e8e8;
}

#filePhoto {
	position: absolute;
	width: 300px;
	height: 400px;
	top: -50px;
	left: 0;
	z-index: 2;
	opacity: 0;
	cursor: pointer;
}

.uploader img {
	position: absolute;
	width: 302px;
	height: 352px;
	top: -1px;
	left: -1px;
	z-index: 1;
	border: none;
}

.animate {
	animation-duration: 0.3s;
	-webkit-animation-duration: 0.3s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
}

@keyframes slideIn {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}

	100% {
		transform: translateY(0rem);
		opacity: 1;
	}

	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
}

@-webkit-keyframes slideIn {
	0% {
		-webkit-transform: transform;
		-webkit-opacity: 0;
	}

	100% {
		-webkit-transform: translateY(0);
		-webkit-opacity: 1;
	}

	0% {
		-webkit-transform: translateY(1rem);
		-webkit-opacity: 0;
	}
}

.slideIn {
	-webkit-animation-name: slideIn;
	animation-name: slideIn;
}

.small-box .icon {
	display: block;
}
